<div class="card">
    <p-table #dt1 [value]="owners" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                
                    <input pInputText type="text" class="searchbar" [(ngModel)]="SearchName" placeholder="Zoek Eigenaar" />  
                    <button pButton pRipple type="button" class="searchbar" style="margin-left: 5px;" label="Zoek" class="p-button-raised" (onclick)="SearchOwner()"></button> 
                    
                    <div class="select-owners">
                        <label>Aantal Eigenaars: </label>
                        <p-dropdown [options]="items" [(ngModel)]="NoOwners" placeholder="Selecteer..." [showClear]="true"></p-dropdown>
                    </div>
            
                    <div class="select-sort">
                        <label>Sorteer op: </label>
                        <p-dropdown [options]="sortItems" [(ngModel)]="SortItemOwners" placeholder="Selecteer..." [showClear]="true"></p-dropdown>
                    </div> 
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        ID 
                        <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voornaam
                        <p-columnFilter type="text" field="firstname" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Achternaam 
                        <p-columnFilter type="text" field="lastname" display="menu"></p-columnFilter>
                    </div>
                </th>                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-owner>
            <tr>
                <td>
                    <p>{{owner.id}}</p>
                </td>
                <td>
                    <p>{{owner.voornaam}}</p>
                </td>
                <td>
                    <p>{{owner.achternaam}}</p>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Geen eigenaars gevonden.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
