<div class="card">
    <p-table #dt1 [value]="owners" dataKey="id"
        [rows]="25" [showCurrentPageReport]="true" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="ClearFilters()"></button>                
                <span class="p-input-icon-left" style="margin-left: 20px;">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Zoek Kweker" [(ngModel)]="SearchName" />
                </span>   
                    <!-- <button pButton pRipple type="button" class="searchbar" style="margin-left: 5px;" label="Zoek" class="p-button-raised" (onclick)="SearchOwner()"></button> -->
                    
                    <div class="select-owners">
                        <label>Aantal Eigenaars: </label>
                        <select [(ngModel)]="NoOwners" required class="inputfield" style="width: 80px; height: 35px; color: lightslategrey; border-color: lightgray; font-size: 15px;">
                            <option *ngFor="let item of items" value={{item}}>{{item}}</option>
                        </select>
                    </div>
            
                    <div class="select-sort">
                        <label>Sorteer op: </label>
                        <select [(ngModel)]="SortItemOwners" required class="inputfield" style="width: 120px; height: 35px; color: lightslategrey; border-color: lightgray; font-size: 15px;">
                            <option *ngFor="let item of sortItems" value={{item}}>{{item}}</option>
                        </select>
                    </div> 
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        ID 
                        <!-- <p-columnFilter type="text" field="id" display="menu"></p-columnFilter> -->
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Voornaam
                        <!-- <p-columnFilter type="text" field="firstname" display="menu" (onclick)="FilterFirstname()"></p-columnFilter>-->
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Achternaam 
                        <!-- <p-columnFilter type="text" field="lastname" display="menu"></p-columnFilter>-->
                    </div>
                </th>  
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Telefoon 
                        <!-- <p-columnFilter type="text" field="lastname" display="menu"></p-columnFilter>-->
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        E-mail 
                        <!-- <p-columnFilter type="text" field="lastname" display="menu"></p-columnFilter>-->
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Item Verwijderen 
                    </div>
                </th>                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-owner>
            <tr>
                <td>
                    <p>{{owner.id}}</p>
                </td>
                <td>
                    <p>{{owner.voornaam}}</p>
                </td>
                <td>
                    <p>{{owner.achternaam}}</p>
                </td>
                <td>
                    <p>{{owner.telefoon}}</p>
                </td>
                <td>
                    <p>{{owner.email}}</p>
                </td>
                <td>
                    <button pButton pRipple type="button" label="Verwijder" class="p-button-danger" style="margin-left: 65px;" (click)="DeleteOwner(owner.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Geen eigenaars gevonden.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
