<div class="card">
    <p-table #dt1 [value]="birds" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['id','owner','sex','ringnumber', 'typeOfBird', 'age', 'cagenumber']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="SearchName" placeholder="Zoek Eigenaar" />   
                </span>
            </div>
            <div class="select">
                <label>Aantal Vogels: </label>
                <select class="paging" [(ngModel)]="NoBirds">
                    <option *ngFor="let item of items"  value="{{item}}">{{item}}</option>
                </select>
            </div>
    
            <div class="select">
                <label>Sorteer op: </label>
                <select class="sorting" [(ngModel)]="SortItemBirds">
                    <option *ngFor="let item of sortItems"  value="{{item}}">{{item}}</option>
                </select>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        ID 
                        <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Eigenaar 
                        <p-columnFilter type="text" field="owner" matchMode="in" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Geslacht
                        <p-columnFilter type="text" field="sex" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Ringnummer 
                        <p-columnFilter type="numeric" field="ringnumber" display="menu"></p-columnFilter>
                    </div>
                </th>                
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Soort
                        <p-columnFilter type="text" field="typeOfBird" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Jaartal
                        <p-columnFilter type="numeric" field="age" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Kotnummer
                        <p-columnFilter type="numeric" field="cagenumber" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bird>
            <tr>
                <td>
                    <p>{{bird.id}}</p>
                </td>
                <td>
                    <p>{{bird.ownerFullName}}</p>
                </td>
                <td>
                    <p>{{bird.geslacht}}</p>
                </td>
                <td>
                    <p>{{bird.ringnummer}}</p>
                </td>
                <td>
                    <p>{{bird.soort}}</p>
                </td>
                <td>
                    <p>{{bird.jaartal}}</p>
                </td>
                <td>
                    <p>{{bird.kotnummer}}</p>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Geen vogels gevonden.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
